@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h2>@Model.Hostname</h2>
    <h2>@Model.IP</h2>
</div>

<div class="row text-center">
    @foreach (var item in @Model.ForeCasts)
    {
        <div class="alert alert-primary" role="alert">
            @item.ToString()
        </div>
    }
</div>
<h3>@Model.TestEnv</h3>